version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: vet_db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: vet_auth  
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - vet_db_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
  
  api-gateway:
    build: ./services/api-gateway
    container_name: api_gateway
    ports:
      - "8002:8002"
    environment:
      - AUTH_SERVICE_URL=http://auth-service:8000
      - APPOINTMENTS_SERVICE_URL=http://appointments-service:8000
    depends_on:
      - auth-service
      - appointments-service

  auth-service:
    build: ./services/auth-service
    container_name: auth_service
    ports:
      - "8000:8000"
    env_file:
      - ./services/auth-service/.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./services/auth-service:/app

  appointments-service:
    build: ./services/appointments-service
    container_name: appointments_service
    ports:
      - "8001:8000"
    env_file:
      - ./services/appointments-service/.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./services/appointments-service:/app
      - /app/node_modules


  web-client:
    build: ./clients/web-client
    container_name: web_client
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - appointments-service
    volumes:
      - ./clients/web-client:/app

volumes:
  vet_db_data:
